<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-2">
    <%= button_to "New Upload", new_upload_path %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Sub-Category</th>
      <th scope="col">Download Link</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <%= render @uploads %>
  </tbody>
</table>
