<div class="footerStyle">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-10 text-left">
      <p>Devloped with <%= fa_icon "heart" %> by <a href="https://henryneeds.coffee">Henry Quinn</a></p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 text-right">
      <p><%= link_to "About", about_path %></p>
    </div>
  </div>
</div>